// HEADER

@mixin backgroundimg($url) {
  background-image: url("#{$url}");
  background-repeat: no-repeat;
  background-position: left;
  min-height: 90vh;
}

%spacing {
  margin: 0px 2rem;
}

.hero-text {
  @extend %spacing;
}

.hero-img {
  @extend %images;
}

// DEFAULT STYLES

// text
@mixin headings {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 6rem;
  font-weight: 800;
  color: #151515;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  @include headings;
  line-height: 5.5rem;
  padding: 3rem 0rem;
}

h2 {
  @include headings;
  font-size: 5rem;
  line-height: 4.5rem;
  padding-bottom: 2.4rem;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  color: #151515;
  line-height: 2.8rem;
}

@mixin h1Desktop {
  @include headings;
  font-size: 9.5rem;
  line-height: 9.5rem;
  color: rgb(255, 255, 255);
}
@mixin h2Desktop {
  @include headings;
  font-size: 6rem;
  line-height: 6.5rem;
}

//IMAGES
%images {
  width: 100%;
}

// BUTTONS

button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  @include headings;
  font-size: 2rem;
  color: #ffffff;
  background-color: #151515;
  border: none;
  margin: 3rem 0rem;
  padding: 0;
  height: 6rem;

  & .btn-cta {
    padding-left: 3rem;
  }

  & .btn-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #d5966c;
    width: 50px;
  }

  &:hover,
  &:focus-within {
    color: #151515;
    background-color: #d5966c;
  }
}

//body

//grid-container (grid will be switched on in media queries- this is just default mobile styling on the container)
.grid-container {
  @extend %spacing;
  padding: 8rem 0rem;
  & img {
    width: 100%;
    padding: 1rem 0rem;
  }
  & .grid-text-card {
    padding: 1rem 0rem;
  }
  & :nth-child(5) {
    background-color: #151515;
    padding: 4rem 2rem;
  }
  & :nth-child(5) > h2,
  :nth-child(5) > p {
    color: white;
  }
}

// footer
footer {
  background-color: #151515;
  padding: 4rem 3rem;

  & p {
    color: #ffffff;
    padding: 3rem 0rem;
  }
  & .social-icons {
    display: flex;
    gap: 10px;
  }
}
//media queries

// grid container mixin set up for higher screen sizes
@mixin gridContainer {
  margin: 5rem;
  grid-gap: 2rem;
  display: grid;
  grid-template-areas:
    " grid-top-left grid-top-left grid-top-right grid-top-right grid-top-right grid-top-right grid-top-right grid-top-right"
    "grid-left grid-left grid-left grid-left grid-left grid-left grid-right grid-right "
    "grid-left grid-left grid-left grid-left grid-left grid-left grid-bottom-right grid-bottom-right ";

  .grid-top-left {
    grid-area: grid-top-left;
  }
  .grid-top-right {
    grid-area: grid-top-right;
  }
  .grid-left {
    grid-area: grid-left;
  }
  .grid-right {
    grid-area: grid-right;
  }
  .grid-bottom-right {
    grid-area: grid-bottom-right;
  }

  & img {
    padding: 0px;
  }
}

//tablet

@media screen and (min-width: 700px) {
  header {
    @include backgroundimg("./assets/tablet/image-hero.jpg");
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50vw;
  }
  .hero-img {
    display: none;
  }
  .hero-text {
    padding-right: 6rem;
  }

  .grid-container {
    @include gridContainer;
    & img {
      height: 100%;
    }
  }
}

//desktop

@media screen and (min-width: 1000px) {
  header {
    background-image: url(./assets/desktop/image-hero.jpg),
      linear-gradient((to right, #151515 50%, #ffffff 50%));
    background-position: center, left, right;
    background-size: contain;
    background-color: #151515;
    padding-left: initial;
    height: 100vh;
  }

  .hero-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80vw;
    padding-right: 0rem;

    & h1 {
      @include h1Desktop;
      mix-blend-mode: exclusion;
      max-width: 30vw;
      padding-top: 0px;
    }
    & .hero-para-btn {
      max-width: 30vw;
    }
  }

  p {
    font-size: 2.2rem;
    line-height: 3.6rem;
  }

  h2 {
    @include h2Desktop;
  }

  .grid-container {
    margin: 4rem 8rem;
    & img {
      height: 100%;
    }
    & :nth-child(5) {
      padding: 4rem;
    }
  }
  .grid-top-left {
    margin: auto;
    width: 80%;
  }
}
